/*********************
LAYOU & GRID STYLES
*********************/

.wrap {
  width: 1140px;
}
.large-wrapper {
  width: 75%;
}

/****************************
Header Section
****************************/

#inner-header {
  justify-content: space-between;
}

.header-left {
  width: 35%;
  text-align: left;
}

.header-right {
  width: 65%;
  text-align: right;
}

// Nav
.nav {
  li {
    a {
      font-size: 16px;
    }
  }
}

// Banner section
.banner {
  .title {
    font-size: 50px;
    line-height: 80px;
  }

  .text {
    font-size: 20px;
  }
}

/****************************
Home Section
****************************/
.home {
  .home-content {
    width: 60%;
  }

  .home-image {
    width: 40%;
  }
}

/****************************
Footer Section
****************************/

/****************************
Education Section
****************************/
.education {
  .top {
    .content {
      width: 40%;
    }
    .image {
      width: 60%;
    }
  }

  .table-section {
    .table {
      .table-container {
        overflow: hidden;
      }
    }
  }
}

/****************************
About Section
****************************/
.about {
  .title {
    font-size: 45px;
  }

  .team {
    .member {
      width: 25%;
    }
  }
}

/****************************
Blog Section
****************************/
.blog-header {
  .title {
    font-size: 55px;
  }
}
