/****************************
Header Section
****************************/
// Banner section
.banner {
  .content {
    max-width: 800px;
  }

  .title {
    font-size: 63px;
  }

  .text {
    font-size: 24px;
  }
}

/****************************
Home Section
****************************/
.home {
  .home-content {
    width: 50%;
    font-size: 19px;
  }
}
