/****************************
Header Section
****************************/
// Banner section
.banner {
  .content {
    max-width: 800px;
  }

  .title {
    font-size: 63px;
  }

  .text {
    font-size: 24px;
  }
}

/****************************
Home Section
****************************/
.home {
  .home-content {
    width: 50%;
    font-size: 19px;
  }
}

/****************************
Footer Section
****************************/

.footer {
  #inner-footer {
    text-align: left;
  }
  .footer-item {
    width: 20%;
    padding: 0 1.5rem;
    &:nth-child(4),
    &:nth-child(5) {
      width: 20%;
      text-align: left;
    }
  }

  .footer-logo {
    text-align: center;
  }
}
