/****************************
Home Section
****************************/
.home {
  .home-content,
  .home-image {
    width: 50%;
    padding: 0 0.7rem;
  }

  .home-content {
    font-size: 15px;
    margin-top: 0;
  }
}
