/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
  width: 96%;
  margin: 0 auto;
}

.large-wrapper {
  width: 96%;
  margin: 0 auto;
}

/*********************
LINK STYLES
*********************/

a,
a:visited {
  color: $primary;
  /* on click */
  &:active {
  }
  /* mobile tap color */
  &:link {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3);
  }
  &:hover {
    transform: scale(0.95);
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  a,
  a:hover {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3,
.h3 {
  font-size: 1.125em;
}

h4,
.h4 {
  font-size: 1.1em;
  font-weight: 700;
}

h5,
.h5 {
  font-size: 0.846em;
  line-height: 2.09em;
  text-transform: uppercase;
  letter-spacing: 2px;
}

/*********************
POSTS & CONTENT STYLES
*********************/

#content {
  margin-top: 1.5em;
}

.hentry {
  background-color: transparent;
  margin-bottom: 1.5em;
  header {
  }
  footer {
    padding: 1.5em;
    p {
      margin: 0;
    }
  }
}

/* end .hentry */

.single-title,
.page-title,
.entry-title {
  margin: 0;
}

/* entry content */

.entry-content {
  padding: 1.5em 1.5em 0;
  p {
    margin: 0.5rem 0;
  }
  ul {
    li {
      list-style: disc;
      margin-left: 2em;
    }
  }
  ol {
    li {
      list-style: decimal;
      margin-left: 2em;
    }
  }
  img {
    margin: 0 0 1.5em 0;
    max-width: 100%;
    height: auto;
  }
  .size-thumbnail {
    max-width: 100%;
    height: auto;
  }
}

/* end .entry-content */

// the tag output
.tags {
  margin: 0;
}

/******************************************************************
PAGE NAVI STYLES
******************************************************************/

.pagination,
.wp-prev-next {
  margin: 1.5em 0;
}

.pagination {
  text-align: center;
  ul {
    display: inline-block;
    background-color: $white;
    white-space: nowrap;
    padding: 0;
    clear: both;
    border-radius: 3px;
  }
  li {
    padding: 0;
    margin: 0;
    float: left;
    display: inline;
    overflow: hidden;
    border-right: 1px solid $gray;
  }
  a,
  span {
    margin: 0;
    text-decoration: none;
    padding: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: normal;
    padding: 0.75em;
    min-width: 1em;
    display: block;
    color: $blue;
    &:hover,
    &:focus {
      background-color: $blue;
      color: $white;
    }
  }
  .current {
    cursor: default;
    color: $text-color;
    &:hover,
    &:focus {
      background-color: $white;
      color: $text-color;
    }
  }
}

/* end .bones_page_navi */

/* fallback previous & next links */

.wp-prev-next {
  .prev-link {
    float: left;
  }
  .next-link {
    float: right;
  }
}

/* end .wp-prev-next */

/*********** Pre-defined styles from bones stock them above ***************/

/****************************
Global Section
****************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: $lato;
  line-height: 1.5;
  color: $black;
  background-color: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    background-color: transparent;
    border: 2px solid $black;
    color: $black;
  }
  input[type="submit"] {
    background-color: $black;
    color: $white;
    border: 2px solid $black;
    border-radius: 5px;
    padding: 0.5em 1em;
    transition: all 0.3s ease-in-out;
    &:hover {
      background-color: transparent;
      color: $black;
    }
  }
}

.home .page {
  .entry-content {
    padding: inherit;
  }
}

.page {
  .entry-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-title {
  font-weight: 300;
  text-transform: capitalize;
}

/****************************
Header Section
****************************/

.header {
  padding: 2rem 0;
}

.home,
.page-id-13,
.blog {
  .header {
    background-color: $primary;
  }
}

.home,
.page-id-13,
.blog {
  #inner-header {
    border-bottom: 1px solid $white;
  }
}

#inner-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 0 1rem;
  border-bottom: 1px solid $primary;
}

.header-left,
.header-right {
  width: 100%;
  text-align: center;
}

#logo {
  width: 100%;
  max-width: 295px;
  margin: 0;
}

// Nav styles

.home,
.page-id-13,
.blog {
  .nav {
    li {
      a {
        color: $white;
        &:hover,
        &:focus {
          border-bottom-color: $secondary;
        }
      }
    }
    li.current-menu-item,
    li.current_page_item,
    li.current_page_ancestor {
      a {
        border-bottom-color: $secondary;
      }
    }
  }
}

.nav {
  border-bottom: 0;
  margin: 0;
  li {
    a {
      display: block;
      color: $black;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 15px;
      padding: 0.75em;
      border-bottom: 2px solid transparent;
      transition: all 0.3s ease-in-out;
      &:hover,
      &:focus {
        color: $secondary;
        border-bottom: 2px solid $primary;
        background: none;
        transform: none;
      }
    }
    &:first-child {
    }
    &:last-child {
    }
    ul.sub-menu,
    ul.children {
      li {
        a {
          padding-left: 30px;
          &:hover,
          &:focus {
          }
          &:link {
          }
        }
        &:first-child {
        }
        &:last-child {
        }
      }
    }
  }
  /* end .menu li */
  /* highlight current page */
  li.current-menu-item,
  li.current_page_item,
  li.current_page_ancestor {
    a {
      border-bottom-color: $primary;
    }
  }
  /* end current highlighters */
}

/* end .nav */

// Banner section
.banner {
  padding: 0 0 0.5rem;
  .inner-banner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .content {
    text-align: center;
    color: $white;
    width: 100%;
  }

  .title {
    font-size: 35px;
    font-weight: 300;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    line-height: 60px;
  }

  .text {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
  }

  .img {
    display: none;
    width: 100%;
  }

  .image {
    width: 100%;
    max-width: 500px;
  }
}

// About header
.header-about {
  padding-top: 2rem;
  .title,
  .subtitle {
    color: $white;
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 35px;
  }
  .subtitle {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 18px;
  }
  .content {
    text-align: center;
    font-size: 16px;
    max-width: 1100px;
    margin: auto;
  }
}

/****************************
Home Section
****************************/
.home {
  .box {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 2rem 0;
  }

  .home-content,
  .home-image {
    width: 100%;
  }

  .home-image {
    text-align: center;
    .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      margin: 0;
    }
  }

  .home-content {
    font-size: 16px;
    margin-top: 1rem;
  }

  .link {
    display: inline-block;
    color: $secondary;
    border: 2px solid $primary;
    padding: 8px 24px;
    border-radius: 5px;
    background: $white;
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 1rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      background: $primary;
      text-decoration: none;
      color: $white;
    }
  }
}

/****************************
Footer Section
****************************/
.footer {
  background-color: $secondary;
  color: $white;
  padding: 1.5rem 0;

  #inner-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .footer-item {
    padding: 0 0.5rem;
    width: 100%;
    margin: 8px 0;
  }

  .footer-logo {
    color: $primary;
    h3 {
      font-size: 14px;
      margin: 1rem 0 0;
    }
  }

  .footer-nav {
    .footer-menu {
      margin: 0;
    }
    a {
      display: inline-block;
      color: $primary;
      font-size: 15px;
      padding: 4px 0.75rem;
      transform: none;
    }
  }

  .footer-news {
    h3 {
      margin-top: 0;
    }
    .dummy-fields {
      position: relative;
      input[type="text"] {
        margin: 0;
        border-color: $primary;
        width: calc(100% - 69px);
        max-width: 100%;
        color: $white;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        &:focus,
        &:active {
          background-color: $white;
          color: $black;
        }
        &::placeholder {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      input[type="submit"] {
        position: absolute;
        text-transform: uppercase;
        top: 0;
        right: 0;
        height: 100%;
        background-color: $primary;
        color: $white;
        border: 2px solid $primary;
        padding: 0 1.5rem;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  a {
    color: $white;
  }
}

/****************************
Education Section
****************************/
.education {
  // education content

  .section {
    padding: 0 8px;
  }

  .top {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    .content,
    .image {
      padding: 0 1rem;
    }

    .content {
      .title {
        color: $primary;
        font-size: 22px;
        margin: 10px 0;
      }
    }

    .image {
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        margin: 0;
      }
    }
  }

  // timeline section
  .middle {
    margin-top: 3.5rem;
    background-color: $primary;

    .timeline {
      color: $white;
      padding: 3rem 1rem;

      .title {
        font-weight: 300;
        text-align: center;
        font-size: 45px;
        margin: 0;
      }
      .text {
        text-align: center;
        color: $black;
        font-size: 16px;
        margin-bottom: 1.5rem;
      }

      .timeline-post {
        background: none !important;
        box-shadow: none !important;
        border: none !important;
        text-align: center;
      }
      .custom_story_lbl {
        color: $white;
        font-size: 22px;
        font-weight: bold;
      }
      .content-title {
        font-weight: bold;
        display: none;
      }
      .content-details {
        color: $black;
        font-size: 16px !important;
      }
      .slick-slide::before {
        background: $white !important;
      }
      .ctl-slick-prev {
        left: -20px;
      }
      .ctl-slick-next {
        right: -20px;
      }
    }
  }

  // Table section
  .table-section {
    margin-top: 4rem;
    .table {
      .title {
        color: $primary;
        font-size: 40px;
        text-align: center;
        font-weight: 300;
      }
      .text {
        text-align: center;
        font-size: 16px;
      }

      .table-container {
        overflow: auto;
        max-height: 650px;
      }

      table {
        min-width: 400px;
      }

      // table SC
      thead {
        .column-1 {
          visibility: hidden;
        }
        th {
          background-color: $primary;
          color: $white;
          font-size: 25px;
          text-align: center;
          font-weight: 300;
        }
      }
      tbody {
        .column-1 {
          background-color: $primary;
          color: $white;
          font-size: 18px;
        }
        td {
          width: 33%;
        }
        tr:nth-child(even) {
          .column-1 {
            background-color: $white;
            color: $black;
          }
        }
        tr td {
          border: 2px solid $primary;
        }
      }
    }
  }

  // Case studies
  .case-studies-section {
    margin-top: 4rem;

    .title {
      color: $primary;
      font-size: 40px;
      font-weight: 300;
      text-align: center;
    }

    .text {
      text-align: center;
      font-size: 18px;
      font-weight: bold;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
      align-items: stretch;
      justify-content: center;
    }

    .content {
      width: 100%;
      .title {
        font-size: 24px;
        text-align: left;
      }
      .text {
        font-size: 16px;
        text-align: left;
        font-weight: 400;
      }
    }
    .image {
      width: 100%;
      text-align: center;
      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .table {
      margin-top: 2rem;
      .title {
        color: $secondary;
        text-align: left;
        font-size: 30px;
      }
      thead th {
        background-color: $primary;
        color: $white;
        text-align: center;
        font-size: 28px;
        border: 2px solid $primary;
      }
      tbody td {
        border: 2px solid $primary;
      }
    }
    .disclaimer {
      font-size: 12px;
      font-weight: bold;
      text-align: center;
    }

    .conclusion {
      .subtitle {
        color: $primary;
        text-transform: capitalize;
      }
      .content {
        font-size: 16px;
      }
    }
  }
}

/****************************
Why Section
****************************/
.why-real-estate {
  .section {
    padding: 0 1rem;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }

  .content {
    font-size: 16px;
  }

  .phrase {
    max-width: 550px;
    color: $primary;
    font-size: 18px;
  }
}

/****************************
About Section
****************************/
.page-id-13 {
  .page-title {
    display: none;
  }
  #content {
    margin-top: 0;
  }
  .entry-content {
    padding: 0;
  }
  .page {
    margin: 0;
  }
}
.about {
  position: relative;
  padding: 2rem 0;
  .title {
    color: $primary;
    font-size: 35px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
  }
  .content {
    text-align: center;
    font-size: 17px;
  }

  .team {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    padding: 2rem 0;

    .member {
      width: 100%;
      padding: 0 1rem;
      margin: 1rem 0;

      .img {
        margin: 0;
      }
      .mtitle {
        color: $primary;
        margin: 10px 0 0;
        font-size: 20px;
      }
      .position {
        margin: 0.5rem 0 1rem;
        font-size: 14px;
      }
      .bio {
        font-size: 15px;
      }
      .button {
        display: inline-block;
        margin: 10px 0;
        background-color: $primary;
        border: 1px solid $primary;
        color: $secondary;
        padding: 0.5rem 1.5rem;
        border-radius: 5px;
        text-transform: uppercase;
        font-weight: bold;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: transparent;
          text-decoration: none;
        }
      }
    }
    .socials {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .icon {
        padding: 10px 14px;
        color: $gray;
        transition: all 0.3s ease-in-out;
        i {
          font-size: 22px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          background: rgba(0, 0, 0, 0.1);
          i {
            color: $primary;
          }
        }
      }
    }

    .member-single {
      display: none;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 5;
      background-color: rgba(0, 0, 0, 0.65);

      .inner-single {
        position: fixed;
        top: 50%;
        left: auto;
        right: auto;
        bottom: auto;
        background-color: $secondary;
        max-width: 95%;
        max-height: calc(100% - 120px);
        transform: translateY(-50%);
        padding: 2rem 1rem;
        text-align: center;
        z-index: 1010;
        overflow-y: auto;

        .close {
          position: absolute;
          top: 15px;
          right: 25px;
          i {
            font-size: 30px;
            color: $white;
            z-index: 99;
          }
        }

        .flex {
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: center;
          padding: 1rem;
        }
        .image {
          width: 100%;
        }

        .mscontent {
          width: 100%;
          color: $white;
          .flex {
            justify-content: center;
            padding: 0;
          }
          .socials i {
            color: $primary;
          }
        }
        .mstitle {
          color: $primary;
          font-size: 24px;
          margin: 0;
        }
        .msposition {
          color: $primary;
          margin: 12px 0;
        }
      }
    }
  }
}

/****************************
Contact Page Section
****************************/
.page-contact-title {
  margin-bottom: 1rem;
}

.contact {
  padding: 0 1rem 5rem;
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
  }
  .left,
  .right {
    width: 100%;
  }
  .content {
    font-size: 18px;
    margin-top: 1rem;
    line-height: 35px;
    a {
      color: $black;
    }
  }
  .form-title {
    font-size: 25px;
    font-weight: bold;
    max-width: 500px;
  }
  .form {
    .gform_body {
      .gform_fields {
        display: flex;
        flex-wrap: wrap;
        align-items: stretch;
        justify-content: center;
      }
      input[type="text"],
      select {
        max-width: 100%;
        width: 100% !important;
      }
      .inputs {
        width: 100%;
        input,
        select {
          border: 2px solid $primary;
          border-radius: 30px;
          padding: 5px;
          background: $white;
          padding: 5px 10px;
          min-height: 50px;
        }
      }
      .message {
        width: 100%;
        textarea {
          border: 2px solid $primary;
          border-radius: 10px;
          padding: 5px;
          background: $white;
          padding: 5px 10px;
        }
      }
    }
    .gform_footer {
      margin-top: 0;
      text-align: right;
      input[type="submit"] {
        background-color: $primary;
        color: $secondary;
        border: 1px solid $primary;
        padding: 1rem 3rem;
        font-weight: bold;
        text-transform: uppercase;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: transparent;
          transform: scale(0.95);
        }
      }
    }
  }
}

/****************************
Blog Section
****************************/
.blog-header {
  padding-top: 2rem;
  .flex {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: $white;
    padding: 0 1rem;
  }
  .title {
    font-size: 35px;
    font-weight: 300;
    color: $white !important;
  }
  .content {
    font-size: 18px;
    font-weight: 300;
    max-width: 750px;
  }
  .img {
    width: 100%;
    max-width: 600px;
  }
}

// Blog page
.blog {
  .title {
    color: $primary;
    font-weight: 300;
    font-size: 35px;
  }
}
.posts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
  .post {
    width: 100%;
  }

  .entry-title {
    padding-bottom: 1rem;
    a {
      color: $secondary;
    }
  }
  .fa-clock,
  .updated {
    color: $gray;
  }
}

// all blog posts
.readmore {
  display: inline-block;
  margin-right: 2rem;
}
